DB_PASSWORD=postgres
DB_NAME=postgres
DB_USER=postgres
DB_HOST=sql_db
DB_PORT=5432

RABBIT_USER=guest
RABBIT_PASSWORD=guest
RABBIT_HOST=rabbit_mq
RABBIT_PORT=15672
AMQP_PORT=5672

REDIS_HOST=redis
REDIS_PORT=6379

API_GATEWAY_PORT=8000
MQ_CONSUMER_PORT=9000

LOG_LEVEL=INFO
